@model BulutWeb.Models.Model.Contact

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <center> <h2>İletişim Bilgileri</h2></center>


<div class="blank-page-content">

    <!-- Error Page Info -->
    <div class="outer-w3-agile mt-3">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
               
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="tel" name="PhoneNumber" required class="form-control" value="@Model.PhoneNumber" />

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="email" name="Email" required class="form-control" value="@Model.Email" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <textarea class="form-control" required name="address">@Model.address  </textarea>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MapUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <textarea class="form-control" required name="MapUrl">@Model.MapUrl  </textarea>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Kaydet" class="btn btn-primary" />
                        <a href="/Contact/"> <input type="button" value="Vazgeç" class="btn btn-danger" /></a>

                    </div>
                </div>
            </div>
        }
        </div>
    </div>
      
