
@{
    if (Session["Adminıd"] == null)
    {
        Response.Redirect("/Admin/Login");
    }
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Yönetim</title>



    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta Tags -->
    <!-- Style-sheets -->
    <!-- Bootstrap Css -->

    <link href="/Content/Admin/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Bootstrap Css -->
    <!-- Bars Css -->
    <link rel="stylesheet" href="/Content/Admin/css/bar.css">
    <!--// Bars Css -->
    <!-- Calender Css -->
    <link rel="stylesheet" type="text/css" href="/Content/Admin/css/pignose.calender.css" />
    <!--// Calender Css -->
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <link href="~/Content/ckeditor/contents.css" rel="stylesheet" />
    <!-- Common Css -->
    <link href="/Content/Admin/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--// Common Css -->
    <!-- Nav Css -->
    <link rel="stylesheet" href="/Content/Admin/css/style4.css">
    <!--// Nav Css -->
    <!-- Fontawesome Css -->
    <link href="/Content/Admin/css/fontawesome-all.css" rel="stylesheet">
    <!--// Fontawesome Css -->
    <!--// Style-sheets -->
    <!--web-fonts-->
    <link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!--//web-fonts-->



</head>

<body>

    <div class="se-pre-con"></div>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h1>
                    <center> <a href="/Admin/">M BULUT</a></center>
                </h1>
                <span>M</span>
            </div>
            <div class="profile-bg"></div>

            <ul class="list-unstyled components">
                <li class="">
                    <a href="/Admin/">
                        <i class="fas fa-th-large"></i>
                        Ana Sayfa
                    </a>
                </li>
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                        <i class="fas fa-address-book"></i>
                        Hizmetler
                        <i class="fas fa-angle-down fa-pull-right"></i>
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="/Services/">Hizmetler</a>
                        </li>
                        <li>
                            <a href="/Video/Index/1">Hizmetler Video</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="/Blog/">
                        <i class="fas fa-book"></i>
                        Blog Gönderisi
                    </a>
                </li>
                <li>
                    <a href="/Categorie/">
                        <i class="fas fa-th"></i>
                        Kategoriler
                    </a>
                </li>

                <li>
                    <a href="/Slider/">
                        <i class="fas fa-image"></i>
                        Slider Görseli
                    </a>
                </li>
                <li>
                    <a href="/Comment/">
                        <i class="far fa-comments"></i>
                        Blog Yorumları
                        <span class="badge badge-secondary float-md-right bg-danger">@ViewBag.Comments Toplam</span>
                    </a>
                </li>
                <li>
                    <a href="/Messages/">
                        <i class="far fa-envelope"></i>
                        İletişim Formu Mesajları
                        <span class="badge badge-secondary float-md-right bg-danger">@ViewBag.Messages Toplam</span>
                    </a>
                </li>
                <li>
                    <a href="/Contact/">
                        <i class="far fa-address-card"></i>
                        İletişim
                    </a>
                </li>
                <li>
                    <a href="/Referance/">
                        <i class="fas fa-user-plus"></i>
                        Referanslarımız
                    </a>
                </li>
                <li>
                    <a href="/About/">
                        <i class="fa fa-key"></i>
                        Hakkımızda
                    </a>
                </li>
                <li>
                    <a href="/Skils/">
                        <i class="fa fa-level-up-alt"></i>
                        Yetenekler
                    </a>
                </li>

                <li>
                    <a href="/SiteInformation/">
                        <i class="fa fa-book"></i>
                        Site Kimlik
                    </a>
                </li>

            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">
            <!-- top-bar -->
            <nav class="navbar navbar-default mb-xl-5 mb-4">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="fas fa-bars"></i>
                        </button>
                    </div>
                    <ul class="top-icons-agileits-w3layouts float-right">


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <i class="far fa-user"></i>
                            </a>
                            <div class="dropdown-menu drop-3">
                                <div class="profile d-flex mr-o">
                                    <div class="profile-l align-self-center">
                                        <img src="/Content/Admin/images/clone.jpg" class="img-fluid mb-3" alt="Responsive image">
                                    </div>
                                    <div class="profile-r align-self-center">
                                        <h3 class="sub-title-w3-agileits">@Session["Name"]</h3>
                                        <a href="mailto:@Session["Email"]">@Session["Email"]</a>
                                    </div>
                                </div>
                                <a href="/User/" class="dropdown-item mt-3">
                                    <h4>
                                        <i class="far fa-user mr-3"></i>Admin Ekle / Düzenle
                                    </h4>
                                </a>

                                <a href="/Messages/" class="dropdown-item mt-3">
                                    <h4>
                                        <i class="far fa-envelope mr-3"></i>Mesajlar
                                    </h4>
                                </a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/Admin/LogOut">Çıkış Yap</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            @RenderBody()

            <!-- Copyright -->
            <div class="copyright-w3layouts py-xl-3 py-2 mt-xl-5 mt-4 text-center">
                <p>
                    © 2020 BulutWeb  | Design by
                    <a href="https://mbulut.com"> Mustafa Bulut </a>
                </p>
            </div>
            <!--// Copyright -->
            <!--// top-bar -->

        </div>

    </div>



    <!-- Required common Js -->
    <script src='/Content/Admin/js/jquery-2.2.3.min.js'></script>
    <!-- //Required common Js -->
    <!-- loading-gif Js -->
    <script src="/Content/Admin/js/modernizr.js"></script>
    <script>
        //paste this code under head tag or in a seperate js file.
        // Wait for window load
        $(window).load(function () {
            // Animate loader off screen
            $(".se-pre-con").fadeOut("slow");;
        });
    </script>
    <!--// loading-gif Js -->
    <!-- Sidebar-nav Js -->
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    <!--// Sidebar-nav Js -->
    <!-- profile-widget-dropdown js-->
    <script src="js/script.js"></script>
    <!--// profile-widget-dropdown js-->
    <!-- dropdown nav -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->
    <!-- Js for bootstrap working-->
    <script src="/Content/Admin/js/bootstrap.min.js"></script>


    <!-- //Js for bootstrap working -->

</body>
</html>
