@model IEnumerable<BulutWeb.Models.Model.Blog>
@{
    Layout = null;
}

@foreach (var item in Model)
{
    <article class="blog-post">
       
        <div class="tooltip-demo headline">

            <h4><a href="/Home/BlogDetail/@item.BlogId">@item.Title</a></h4>
            <span class="comment"><a href="" rel="tooltip" data-placement="top" title="@item.comments.Count() Yorum Bulunuyor">@item.comments.Count() yorum</a></span>
        </div>
        
        <div class="row">
            <div class="span8" >
                <a href="#"><img class="img-responsive" style="width:900px; height:200px" src="@item.Image" alt="@item.Title" /></a>
            </div>
            <div class="span6">
                <ul class="post-meta">

                    <li class="last"><i class="icon-tags"></i> <span><a href="/Home/CategoryDetails/@item.CategoryId">@item.category.Name </a></span></li>
                </ul>
                <div class="clearfix"></div>


                @Html.Raw(item.Content)

            <a href="/Home/BlogDetail/@item.BlogId">  <input type="button" class="btn btn-success"  value="Gönderiyi Oku" />  </a>
            </div>
        </div>
    </article>

}

