@model IEnumerable<BulutWeb.Models.Model.Message>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center> <h2>Mesajlar</h2></center>

<div class="blank-page-content">

    <!-- Error Page Info -->
    <div class="outer-w3-agile mt-3">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>

                <th>İşlemler</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>

                    <td>
                        <a href="/Messages/Edit/@item.Id">  <input type="button" class="btn btn-primary" value="Oku" /></a>
                        <a href="/Messages/Delete/@item.Id">  <input type="button" class="btn btn-danger" value="sil" /></a>

</td>
                </tr>
            }

        </table>
        </div>
</div>