@model BulutWeb.Models.Model.Skils

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <center> <h2>Yetenek Düzenleme Ekranı</h2></center>
<div class="blank-page-content">

    <!-- Error Page Info -->
    <div class="outer-w3-agile mt-3">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
             
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" class="form-control" required name="Title" value="@Model.Title" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SkilLevel, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="number" name="SkilLevel" class="form-control" value="@Model.SkilLevel" required />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Kaydet" class="btn btn-primary" />
                        <a href="/Skils/">  <input type="button" value="Vazgeç" class="btn btn-danger" /></a>

                    </div>
                </div>
            </div>
        }
        </div></div>
       