@model BulutWeb.Models.Model.Comments

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <script type="text/javascript">
    CKEDITOR.replace('editör')
    </script>

    <center> <h2>Yorum Onay Ekranı</h2></center>

<div class="blank-page-content">

    <!-- Error Page Info -->
    <div class="outer-w3-agile mt-3">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
             
             
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.CommentsId)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="text" name="Name" class="form-control" readonly value="@Model.Name" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="email" name="Email" class="form-control" readonly value="@Model.Email" />

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <textarea name="Comment" class="ckeditor" readonly required>@Model.Comment</textarea>

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Confirmation, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Confirmation)
                            @Html.ValidationMessageFor(model => model.Confirmation, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                   Blog Post
                    <div class="col-md-10">
                        <input type="text" name="BlogId" value="@Model.blog.Title" readonly class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Kaydet" class="btn btn-primary" />
                        <a href="/Comment/"> <input type="button" value="Vazgeç" class="btn btn-danger" /></a>

                    </div>
                </div>
            </div>
        }
        </div>
    </div>
       
