@model IEnumerable<BulutWeb.Models.Model.Comments>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <center> <h2>Postlara Atılan Yorumlar </h2></center>
<div class="blank-page-content">

    <!-- Error Page Info -->
    <div class="outer-w3-agile mt-3">
    
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.blog.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
              
                <th>
                    @Html.DisplayNameFor(model => model.Confirmation)
                </th>
                <th>İşlemler</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.blog.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                 
                    <td>
                        @Html.DisplayFor(modelItem => item.Confirmation)
                    </td>
                    <td>
                        <a href="/Comment/Edit/@item.CommentsId"> <input type="button" class="btn btn-primary" value="Düzenle" /></a>
                        <a href="/Comment/Delete/@item.CommentsId"> <input type="button" class="btn btn-danger" value="Sil" /></a>
                    </td>
                </tr>
            }

        </table>
        </div>
</div>